*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
}

.frontpageimg{
    background-image: url(/Gemini_Generated_Image_uxcho2uxcho2uxch.png);
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.container{
    z-index: 10;
    position: relative;
   
}
main,footer{
   background-color: white;
}
hr{
    width: 90vw;
    justify-self: center;
}

header{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    justify-content: space-between;
    position: sticky;
}
.frontpage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
   height: 100vh;
    z-index: 1;
}
.tinderlogo{
    width: 10vw;
   margin-left: 20px;
}
.nav{
    margin-top: 0px;
    display: flex;
}
nav{
    margin-left: 25px;
    margin-top: 30px;
}

.leftnav{
    display: flex;
   padding: 10px;
}
.lang{
padding-top: 24px;
padding-right: 60px;
font-size: 19px;
font-weight: 600;
}
.log{
    width: 100px;
    height: 40px;
    border-radius: 40px;
    font-size: 19px;
    font-weight: 400;
    margin-top: 20px;
}
.navelement{
    font-size: 20px;
    color: white;
    margin: 10px;
    font-weight: 500;
   
     margin-top: 3px;
}  
.navelement:hover{
    text-decoration: none;
}
 .create{
    color: white;
    background-color: red;
    width: 180px;
    height: 50px;
    font-size: 19px;
    border-radius: 40px;
}
    #start{
        font-size: 100px; 
         color: white;
    }
    .secondpage{
        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
       margin-left: 60px;
    }
    .secondimg{
        width: 150px;
        height: 280px;
    }
    .secondpageelement{
        display: flex;
        margin-top: 10px;
        box-shadow: 1px 1px 10px rgba(0,0,0, 0.2);
        margin-left: 4px;
    }
    .secondpageinnerelement{
         width: 150px;
        height: 250px;
        padding: 10px;
    }
    .namesecond{
        font-size:23px ;
        color: #505965;
        margin-top: 25px;
    }
    .parasecond{
        margin-top: 25px;
        font-size: 14px;
        color: #505965;
        margin-bottom: 20px;
    }
    .Continue{
        color: #21262E;
        text-decoration: none;
        font-size: 18px;
        font-weight: 800;
        text-align: start;
       
    }
    .Continue:hover , .lastelement:hover, .pre:hover, svg:hover{
        color: red;
    }
    .lastfooter{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left:60px;
        margin-bottom: 30px;
        width: 100vw;
    }
    .lastfooterelement{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-left: 20px;
        width: calc(15vw);
    }
    label{
        font-size: 20px;
        color: #21262E;
        font-weight: 900;
    }
    .lastelement{
        color: #21262E;
        font-size: 17px;
        text-decoration: none;
        margin-top: 10px;
        margin-right: 70px;
    }
    .leftlastlinefooter{
        margin-left: 60px;
        flex-wrap: wrap;
    }
    .pre{
        text-decoration: none;
        color: #21262E;
        margin: 5px;
        font-size: 15px;
    }
    svg{
        width: 20px;
        height: 20px;
        display: inline;
        
    }
    .svglogo{
        display: flex;
    }
    .gettheapp{
        display: flex;
        margin-top: 40px;
        margin-left: 80px;
    }
    .gettheappimg1,.gettheappimg2{
        
        margin-left: 10px;
    }
    .gettheappimg1{
        width: 150px;
        height:50px;
        margin-left: 30px;
    }
    .gettheappimg2{
        width: 180px;
        height:70px;
        padding-left: 20px;
        
    }
    .getpara{
        color: #505965;
        font-size: 16px;
        width: 90vw;
        height: 10vh;
        margin-left: 70px;
        margin-bottom:0px;
    }
    .lastlinefooter{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 10vh;
        font-size: 14px;
        color: #B9BFC8;
        padding-top: 20px;
       padding-right: 3px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .pre{
        color: #B9BFC8;
         font-size: 14px;
    }
    .rightlastlinefooter{
         padding-right: 70px;
        
    }
    
